@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-[#004a99] text-white px-6 py-2 rounded-full font-bold hover:bg-[#004a99]/90 transition-colors inline-block;
    }

    .btn-gold {
        @apply bg-[#ffcc00] text-[#004a99] px-6 py-2 rounded-full font-bold hover:bg-[#ffcc00]/90 transition-colors inline-block;
    }

    .selection {
        background-image: url('/static/img/hero-bg.jpg');
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}